# 3. Lists in Python

 * __Lists are ordered.__
 * __Lists can contain any arbitrary objects.__
 * __Lists elements can be accessed by index.__
 * __Lists are mutable data type.__
 * __Lists are dynamic.__
 * __It is used to store multple values in a single variable.__
 * __It allows duplicate values.__

In [1]:
# [] 

# Creating a list:

nlis = []
print(nlis,type(nlis))

[] <class 'list'>

In [3]:
# putting value inside the list 

nlis = ["Python",100,True,False]
print(nlis)

['Python', 100, True, False]

In [4]:
# Positive Indexing 

nlis

['Python', 100, True, False]

In [10]:
print(nlis[0])
print(nlis[1])
print(nlis[2])
print(nlis[3])
# print(nlis[4])

Python
100
True
False

In [16]:
# Negative Indexing
print(nlis[-1])
print(nlis[-2])
print(nlis[-3])
print(nlis[-4])
# print(nlis[-5])

False
True
100
Python

In [17]:
nlis

['Python', 100, True, False]

In [24]:
print(nlis[0][0])   #
print(nlis[0][1])   #
print(nlis[0][2])   #
print(nlis[0][3])   #
print(nlis[0][4])   #
print(nlis[0][5])   #

P
y
t
h
o
n

In [29]:
print(nlis[0][-1])
print(nlis[0][-2])
print(nlis[0][-3])
print(nlis[0][-4])
print(nlis[0][-5])
print(nlis[0][-6])

n
o
h
t
y
P

In [30]:
nlis

['Python', 100, True, False]

In [31]:
print(nlis[1][0])   # 1

TypeError: 'int' object is not subscriptable

In [32]:
print(nlis[0])

Python

In [33]:
print(nlis[1])

100

In [34]:
print(nlis)

['Python', 100, True, False]

In [36]:
print(nlis[2])   # True  # R-e  # Y-No Answer

True

In [37]:
# What can content a list?

# String,
# Floats
# Integer
# Boolean
# Nested List
# Nested Tuple
# Nested sets
# Nested dictionary, 
# any other data structure.

In [39]:
nlis = ['Python',3.14,2002,True,False,[11,1,1,2,3,50.66,-1],('hello',"World"),{1,1,2,3,5},{'a':'apple',"b":'boy'}]
print(nlis)

['Python', 3.14, 2002, True, False, [11, 1, 1, 2, 3, 50.66, -1], ('hello', 'World'), {1, 2, 3, 5}, {'a': 'apple', 'b': 'boy'}]

In [40]:
# slicing of list

print(nlis[0:5])

['Python', 3.14, 2002, True, False]

In [41]:
print(nlis[5:7])

[[11, 1, 1, 2, 3, 50.66, -1], ('hello', 'World')]

In [45]:
print(nlis[5][5:])

[50.66, -1]

In [46]:
print(nlis)

['Python', 3.14, 2002, True, False, [11, 1, 1, 2, 3, 50.66, -1], ('hello', 'World'), {1, 2, 3, 5}, {'a': 'apple', 'b': 'boy'}]

In [50]:
print(nlis[5][5:700])

[50.66, -1]

In [52]:
print(nlis[6][1])

World

In [54]:
# [7][2:]

print(nlis[7])
print(type(nlis[7]))

{1, 2, 3, 5}
<class 'set'>

In [56]:
print(nlis[7][2:])

TypeError: 'set' object is not subscriptable

In [57]:
# List methods 


# Appending value inside the list
# append()

list1 = []
print(list1,type(list1))

[] <class 'list'>

In [58]:
list1.append("Yash")
list1

['Yash']

In [59]:
list1.append("Ruchika")
list1

['Yash', 'Ruchika']

In [60]:
list1.append("Umesh")
list1

['Yash', 'Ruchika', 'Umesh']

In [61]:
list1.append(100)
list1

['Yash', 'Ruchika', 'Umesh', 100]

In [63]:
list1.append(True)
list1

['Yash', 'Ruchika', 'Umesh', 100, 'True', True]

In [64]:
list1.append(1,-11)
list1

TypeError: list.append() takes exactly one argument (2 given)

In [65]:
list1.append(1)
list1

['Yash', 'Ruchika', 'Umesh', 100, 'True', True, 1]

In [66]:
# Extending the list.

# We can add moret than one element at a time.
# extend()

In [67]:
list1

['Yash', 'Ruchika', 'Umesh', 100, 'True', True, 1]

In [68]:
list1.extend(["Hello","World"])

In [69]:
list1

['Yash', 'Ruchika', 'Umesh', 100, 'True', True, 1, 'Hello', 'World']

In [70]:
list1.append(["Hello","World"])

In [72]:
print(list1)

['Yash', 'Ruchika', 'Umesh', 100, 'True', True, 1, 'Hello', 'World', ['Hello', 'World']]

In [74]:
# Insert 

# It takes exactly two arguemnts at a time.
# first is a index value, and second element is data value.

print(list1)

['Yash', 'Ruchika', 'Umesh', 100, 'True', True, 1, 'Hello', 'World', ['Hello', 'World']]

In [75]:
list1.insert(0,"Rakul Preet Singh")
list1

['Rakul Preet Singh',
 'Yash',
 'Ruchika',
 'Umesh',
 100,
 'True',
 True,
 1,
 'Hello',
 'World',
 ['Hello', 'World']]

In [76]:
print(list1)

['Rakul Preet Singh', 'Yash', 'Ruchika', 'Umesh', 100, 'True', True, 1, 'Hello', 'World', ['Hello', 'World']]

In [77]:
list1.insert(3,"Modi Ji")
list1

['Rakul Preet Singh',
 'Yash',
 'Ruchika',
 'Modi Ji',
 'Umesh',
 100,
 'True',
 True,
 1,
 'Hello',
 'World',
 ['Hello', 'World']]

In [93]:
# len(), index(),count(), max(), min(), sum() function 

list2 = [1,2,3,4,4,4,5,6,10,0,-1,100.25,True]
print("Original List Value:",list2)

# total value inside the list
print("Len:",len(list2))

print("Index:",list2.index(3))
print("Index:",list2.index(10))
print("Count:",list2.count(4))
print("Count:",list2.count(10))
print("Max:",max(list2))
print("Min:",min(list2))
print("sum of the list:",sum(list2))

Original List Value: [1, 2, 3, 4, 4, 4, 5, 6, 10, 0, -1, 100.25, True]
Len: 13
Index: 2
Index: 8
Count: 3
Count: 1
Max: 100.25
Min: -1
sum of the list: 139.25

In [94]:
int(True)

1

In [95]:
float(True)

1.0

In [97]:
# Changing the elements of a list since it is mutable 


nlis = ['Python',3.14,2002,True,False,[11,1,1,2,3,50.66,-1],('hello',"World"),{1,1,2,3,5},{'a':'apple',"b":'boy'}]
# print(nlis)


print("Before Changing:",nlis)

nlis[0] = "Yash Meshram"
print(nlis)

Before Changing: ['Python', 3.14, 2002, True, False, [11, 1, 1, 2, 3, 50.66, -1], ('hello', 'World'), {1, 2, 3, 5}, {'a': 'apple', 'b': 'boy'}]
['Yash Meshram', 3.14, 2002, True, False, [11, 1, 1, 2, 3, 50.66, -1], ('hello', 'World'), {1, 2, 3, 5}, {'a': 'apple', 'b': 'boy'}]

In [98]:
nlis[2] = 2026
print(nlis)

['Yash Meshram', 3.14, 2026, True, False, [11, 1, 1, 2, 3, 50.66, -1], ('hello', 'World'), {1, 2, 3, 5}, {'a': 'apple', 'b': 'boy'}]

In [102]:
nlis[6][1] = "Python"
nlis

TypeError: 'tuple' object does not support item assignment

In [103]:
message = "Python is a programming language"
print(message,type(message))

Python is a programming language <class 'str'>

In [104]:
# split()
message.split()

['Python', 'is', 'a', 'programming', 'language']

In [105]:
msg = "python"
msg.split()

['python']

In [107]:
msg = "p,y,t,h,o,n"
msg.split(",")

['p', 'y', 't', 'h', 'o', 'n']

In [108]:
# Removing elements from a list

fruits = ['Cherry',"Ruspberry","Apple","Mango","Pomegranate","Orange","Banana","Guava","Grapes"]
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Banana', 'Guava', 'Grapes']

In [109]:
fruits.remove("Banana")
fruits

['Cherry',
 'Ruspberry',
 'Apple',
 'Mango',
 'Pomegranate',
 'Orange',
 'Guava',
 'Grapes']

In [110]:
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']

In [111]:
fruits.remove("Banana")
print(fruits)

ValueError: list.remove(x): x not in list

In [113]:
# delete function 
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']

del(fruits[5])

In [114]:
fruits

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Guava', 'Grapes']

In [115]:
# pop() 

fruits.pop()
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Guava']

In [116]:
fruits.pop()
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate']

In [117]:
fruits.pop()
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango']

In [118]:
fruits.pop()
print(fruits)

['Cherry', 'Ruspberry', 'Apple']

In [119]:
fruits.pop()
print(fruits)

['Cherry', 'Ruspberry']

In [120]:
fruits.pop()
print(fruits)

['Cherry']

In [121]:
fruits.pop()
print(fruits)

[]

In [122]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']

In [123]:
fruits.clear()
print(fruits)

[]

In [124]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)


del(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']

In [125]:
fruits

NameError: name 'fruits' is not defined

In [126]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)

fruits.sort()
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
['Apple', 'Cherry', 'Grapes', 'Guava', 'Mango', 'Orange', 'Pomegranate', 'Ruspberry']

In [127]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)

fruits.sort(reverse=True)
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
['Ruspberry', 'Pomegranate', 'Orange', 'Mango', 'Guava', 'Grapes', 'Cherry', 'Apple']

In [129]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)

fruits.sort()
print(fruits)


print(fruits[::-1])

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
['Apple', 'Cherry', 'Grapes', 'Guava', 'Mango', 'Orange', 'Pomegranate', 'Ruspberry']
['Ruspberry', 'Pomegranate', 'Orange', 'Mango', 'Guava', 'Grapes', 'Cherry', 'Apple']

In [132]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)

fruits.sort(reverse=True)
print(fruits)


# othermethod

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
['Ruspberry', 'Pomegranate', 'Orange', 'Mango', 'Guava', 'Grapes', 'Cherry', 'Apple']
None

In [135]:
fruits =['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']
print(fruits)

['Cherry', 'Ruspberry', 'Apple', 'Mango', 'Pomegranate', 'Orange', 'Guava', 'Grapes']