# 4. Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are defined in the same way as lists.__
 * __They are enclosed within parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value [1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuples also have the same strcucture where commas separated the values.__
 * __Tuples can sotre duplicate values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [1]:
student= ()
print(student, type(student))

() <class 'tuple'>

In [3]:
student1  = (10,)
print(student1,type(student1))

(10,) <class 'tuple'>

In [5]:
val = ("hello",)
print(val,type(val))

('hello',) <class 'tuple'>

In [6]:
nums = (10,20,30,50)
print(nums,type(nums))

(10, 20, 30, 50) <class 'tuple'>

In [7]:
colors = "red","Black","Blue","Green"
print(colors,type(colors))

('red', 'Black', 'Blue', 'Green') <class 'tuple'>

In [8]:
# checking Tuple type


data = (1,2,3,4,5,6,7)
print(type(data))

<class 'tuple'>

In [11]:
# Accessing their index/addressing value

print(data[0])
print(data[1])
print(data[2])
print(data[3])
print(data[4])
print(data[5])
print(data[6])

1
2
3
4
5
6
7

In [12]:
# negative indexing value
print(data[-1])
print(data[-2])
print(data[-3])
print(data[-4])
print(data[-5])
print(data[-6])
print(data[-7])

7
6
5
4
3
2
1

In [14]:
# Slicing of tuples

nums = (10,20,30,40,50,60,70,"Hello world",True,False)
print(nums,type(nums))

(10, 20, 30, 40, 50, 60, 70, 'Hello world', True, False) <class 'tuple'>

In [16]:
print(nums[7:9])

('Hello world', True)

In [17]:
print(nums[5:7])

(60, 70)

In [19]:
# Striding value of tuples
print(nums)
x =nums[::2]
print(x)

(10, 20, 30, 40, 50, 60, 70, 'Hello world', True, False)
(10, 30, 50, 70, True)

In [26]:
# Tuple is immutable data type
# Tuples element can't be changed once it is created.

t = (10,20,30)
print(t,type(t))

(10, 20, 30) <class 'tuple'>

In [21]:
n = (20)
print(n,type(n))

20 <class 'int'>

In [27]:
# append()

t.append(30)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
t

(10, 20, 30)

In [29]:
t[1]

20

In [31]:
# deleting an elemnet of tuple 

del(t[1])

TypeError: 'tuple' object doesn't support item deletion

In [33]:
# update 

t[1] = "Ruchika Jadhav"
t

TypeError: 'tuple' object does not support item assignment

In [34]:
# 1. Concatenation 

firstName = "Yash"
lastName = "Meshram"

print(firstName+lastName)

YashMeshram

In [35]:
print(10+20)

30

In [36]:
4*"Yash"

'YashYashYashYash'

In [37]:
4*30

120

In [38]:
# 1. Concatenation 
t1 = (1,2)
t2 = (3,4)
t1+t2

(1, 2, 3, 4)

In [39]:
# Tuple function 

# 1. len()

t = (5,10,15)
print(len(t))

3

In [40]:
# 2. min() and min()


t = (5,10,15)
print(min(t),max(t))

5 15

In [41]:
# 3. sum() 

t = (5,10,15)
print(sum(t))

30

In [43]:
# Tuple methods 

# 1. count

t = (5,10,15,15)
print(t.count(15))
print(t.count(10))

2
1

In [45]:
# 2. index()

print(t.index(10))
print(t.index(15))

1
2

In [46]:
# PACKING VALUE
employee  = "Amit",25,"HR"
print(employee)

('Amit', 25, 'HR')

In [49]:
# UNPACKING VALUE
name,age,dept = employee
print(name)
print(age)
print(dept)

Amit
25
HR

In [50]:
# variable initialization
name,age,dept= "Ruchika",88,"Data Scientiest"
print(name,age,dept)

Ruchika 88 Data Scientiest

In [51]:
# Nested Tuples 

data = ((10,20),(10,20,50,"Hello world"),"Tejaswini",(True,False,"Mohit"),['Hey World',20])
print(data)

((10, 20), (10, 20, 50, 'Hello world'), 'Tejaswini', (True, False, 'Mohit'), ['Hey World', 20])

In [53]:
data[1][2:4]

(50, 'Hello world')

In [54]:
del(data[4])

TypeError: 'tuple' object doesn't support item deletion

In [58]:
data[4][0] = "Yash"
print(data)

((10, 20), (10, 20, 50, 'Hello world'), 'Tejaswini', (True, False, 'Mohit'), ['Yash', 20])

### Tuple V/S Lists

|Feature|Tuple|List|
|--------|-------|------|
|Symbol|()|[]|
|Mutable|immubale|mutable|
|Method|2|Many|
|Speed|Faster|Slower|
|Use Case| Fixed Data| Dynamic data|