# 6. Dictionary in Python

 * __A dictionary stores data in key:value pairs__
 * __Keys must be unique and immutable__
 * __Values can be any data type.__
 * __Dictionary is mutable.__
 * __Written using curly braces {}.__

In [3]:
x1 = {}
print(x1,type(x1))

{} <class 'dict'>

In [12]:
# Creating Dictionary

student = {
    "name":"Rahul",
    "age":21,
    "course":"Python"}
print(student,type(student))

{'name': 'Rahul', 'age': 21, 'course': 'Python'} <class 'dict'>

In [11]:
# dict() constructor

emp = dict(id=102,name="Neha",salary=40000)
print(emp,type(emp))

{'id': 102, 'name': 'Neha', 'salary': 40000} <class 'dict'>

In [22]:
# Accessing Dictionary Values

# using key

print(emp['id'])
print(emp['name'])
print(emp['salary'])
print(emp['missile'])

102
Neha
40000

KeyError: 'missile'

In [17]:
print(emp['salary'])

40000

In [24]:
# using get() method : safest.

print(emp.get("id"))
print(emp.get("name"))
print(emp.get("salary"))
print(emp.get('missile'))

102
Neha
40000
None

In [1]:
d = {}
print(d,type(d))

{} <class 'dict'>

In [2]:
samp_dict = {
    "id":"101",
    'name':"Yash Meshram",
    "age":75,
    "contact_Address":"Ladakh"
}
print(samp_dict)

{'id': '101', 'name': 'Yash Meshram', 'age': 75, 'contact_Address': 'Ladakh'}

In [6]:
print(samp_dict['id'])
print(samp_dict['name'])
print(samp_dict['age'])
print(samp_dict['contact_Address'])

101
Yash Meshram
75
Ladakh

In [36]:
# constructor

dict2 = dict(id=101,name="Ruchika",age=15,address="Pune")
dict2

{'id': 101, 'name': 'Ruchika', 'age': 15, 'address': 'Pune'}

In [25]:
dict2.get('id')

101

In [26]:
print(dict2.get("number"))

None

### Modifying Dictionary

#### 1. Add new key-value pair

In [27]:
dict2

{'id': 101, 'name': 'Ruchika', 'age': 15, 'address': 'Pune'}

In [37]:
# creating new key and value 
dict2["email"] = "ruchika@gmail"
dict2

{'id': 101,
 'name': 'Ruchika',
 'age': 15,
 'address': 'Pune',
 'email': 'ruchika@gmail'}

In [13]:
# updating thier value of email
dict2["email"] = "ruchika123@gmail"
dict2

{'id': 101,
 'name': 'Ruchika',
 'age': 15,
 'address': 'Pune',
 'email': 'ruchika123@gmail'}

### Removing Elements 

## 1. pop()

In [15]:
dict2.pop("email")
dict2

{'id': 101, 'name': 'Ruchika', 'age': 15, 'address': 'Pune'}

In [16]:
dict2.pop('address')

'Pune'

### 2. del()

In [17]:
del(dict2['age'])

In [18]:
dict2

{'id': 101, 'name': 'Ruchika'}

### 3. clear()

In [21]:
dict2.clear()

In [22]:
dict2

{}

In [23]:
dict2

{}

In [29]:
dict2

{'id': 101,
 'name': 'Ruchika',
 'age': 15,
 'address': 'Pune',
 'email': 'ruchika@gmail'}

In [30]:
# keys()

dict2.keys()

dict_keys(['id', 'name', 'age', 'address', 'email'])

In [31]:
# values()

dict2.values()

dict_values([101, 'Ruchika', 15, 'Pune', 'ruchika@gmail'])

In [32]:
# items()

dict2.items()

dict_items([('id', 101), ('name', 'Ruchika'), ('age', 15), ('address', 'Pune'), ('email', 'ruchika@gmail')])

### Dictionary Methods(Very Important)

|Method|Description|
|-----|--------|
|keys()| Retunrs all keys|
|values()|Returns all values|
|items()| Returns key-values pairs|
|update()| Merge dictionaries|
|copy()| Copy dictionary|

In [33]:
dict1 = {'a':'apple',"b":'boy'}
dict2 = dict(c='cat',d='dog')

dict1.update(dict2)

In [34]:
dict1

{'a': 'apple', 'b': 'boy', 'c': 'cat', 'd': 'dog'}

# Looping Through Dictionary

## 1. Loop through keys

In [38]:
dict2

{'id': 101,
 'name': 'Ruchika',
 'age': 15,
 'address': 'Pune',
 'email': 'ruchika@gmail'}

In [39]:
for key in dict2:
    print(key)

id
name
age
address
email

# 2.Loop through values

In [41]:
for value in dict2.values():
    print(value)

101
Ruchika
15
Pune
ruchika@gmail

In [43]:
for value in dict2.keys():
    print(value)

id
name
age
address
email

In [44]:
for value in dict2.items():
    print(value)

('id', 101)
('name', 'Ruchika')
('age', 15)
('address', 'Pune')
('email', 'ruchika@gmail')

In [45]:
# Dictionary with Mixed Data types

data = {
    1:"python",
    'fees':15000,
    True:"Yes"
}
data

{1: 'Yes', 'fees': 15000}

In [49]:
data1 = dict(x1="Python",fees = 50000,True1="Yes")
data1

{'x1': 'Python', 'fees': 50000, 'True1': 'Yes'}

In [50]:
# Nested Dicationary 
employee = {
    'id':101,
    'name':"Amit",
    'skills':{
        'lang':"Python",
        'db':'Mysql'
    }
}
employee

{'id': 101, 'name': 'Amit', 'skills': {'lang': 'Python', 'db': 'Mysql'}}

In [52]:
employee['skills']['db']

'Mysql'

In [53]:
# 2:1:1

# Dictionary comprehension

employee

{'id': 101, 'name': 'Amit', 'skills': {'lang': 'Python', 'db': 'Mysql'}}

In [55]:
sqrNum = {x:x*x for x in range(1,6)}
print(sqrNum)
# 1:1
# 2:4
# 3:9
# 4:16
# 5:25

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# real time uses

# Student Records
# employee Data 
# API Response [JSON]
# Database row mapping

In [57]:
dataResp = {
  "firstName": "Jane",
  "lastName": "Doe",
  "isStudent": True,
  "courses": [
    { "title": "History", "credits": 3 },
    { "title": "Math", "credits": 4 }
  ]
}

dataResp

{'firstName': 'Jane',
 'lastName': 'Doe',
 'isStudent': True,
 'courses': [{'title': 'History', 'credits': 3},
  {'title': 'Math', 'credits': 4}]}

## Dictionary vs List vs Tuple vs Set


|Feature|Dicationary|
|----|------|
|Data Storage| Key:value|
|Ordered-(3.7+)|✅|
|Mutable|✅|
|Duplicate|❌|
|Fast Loop| ✅|

In [58]:
import sys
print(sys.version)

3.13.7 (tags/v3.13.7:bcee1c3, Aug 14 2025, 14:15:11) [MSC v.1944 64 bit (AMD64)]

In [61]:
set1 = {1,('apple',10)}
set1

{('apple', 10), 1}