# 7. Python conditions

### What are Conditions in Python?
 * __Condition allow a program to make decisions based on True or False results.__

 * __If it rains: - Take an umberella__
 * __else: - go normally.__

In [1]:
a = 10
b = 5

print(a>b)  #

True

In [2]:
print(a == b)

False

### Comparison Operators 

|Operator|Meaning|Example|Result|
|---|----|---|---|
|==|Equals to| 5 == 5 |True|
|!=|Not equal| 5!=3|True|
|>|Greater than| 10>5|True
|<|Less than|3<8|True|
|>=|Greater than or equal| 5>=5|True|
|<=|Less than or equal|4<=6|True|


* __= and ==__
* __=: Assignment__
* __== : Comparison__



### Logical Operator (Combining Conditions)

|Operator|Meaning|Example|
|---|---|----|
|and|Both conditions must be True|age>18 and age<60|
|or|any one conditon is True| day == "sat" or day == "sun"|
|not|Resverse the result| not(age>18)|

In [4]:
age = 16

print(age>18 and age< 30)

False

In [6]:
# if statment (single condition )

# syntax:
# if condition:
#     statement
    
# print("Hello world")

In [13]:
age = 20

if age>18:
    print("You are elegible for voting.")

You are elegible for voting.

In [10]:
age>18

True

### if-else statement(Two path)
### syntax:
if condition:
    statmenet 
else: 
    statement

In [16]:
age = 16


if age>18:    print("Hello world")
else:    print("Hello Google")

Hello Google

In [17]:
age = 16


if age>18:    
    print("Hello world")
else:    
    print("Hello Google")

Hello Google

### if-elif


if-elif

In [19]:
babyAge = 5

if babyAge>5:
    print("Primary School")

elif babyAge == 5:
    print("Kindergarten")

else:
    print("You are a Baby")

Kindergarten

### ladder if 


### if condition:
    ### statmenet 

### elif condition:
    ### statment

### elif condition:
    ### statment
### elif condition:
    ### statment
### elif condition:
    ### statment
### elif condition:
    ### statment
### else:
    ### statment

In [25]:
marks = 80  # nested if 

if marks>0 and marks<=100:
    if marks>=90:
        print("Grade A")
    elif marks>= 75:
        print("Grade B")
    elif marks>=60:
        print("Grade C")
    else:
        print("Fail")
else:
    print("Enter a Valid Marks.")

Grade B

In [28]:
# nested if statment

age = 16
citizen = False

if age>=18:
    if citizen:
        print("Elegible to True")
    else:
        print("Not Citizen")
else:
    print("Under Age")

Under Age

In [29]:
# print("Elegible to True")

a = 10

b = 20

print("A is greater") if a>b else print("B is greater")

B is greater

In [30]:
username = "snehal"
password = '1234'


if username == "admin" and password == "1234":
    print("Login Success")
else:
    print("Invalid Credential")

Invalid Credential

In [52]:
# Even or Odd 

# Even Number:
# Odd Numbers:
# primeNumber:
# Composite number:
# Co-prime number:
# Real Number:


num = float(input("Enter any value:")) # by default input() mehtod takes default value i.e string

if num%2 == 0:
    print(f"{num}: Even Number")
else:
    print(f"{num}:odd Number")

Enter any value: 10

10.0: Even Number

In [41]:
11%2

1

In [46]:
int("11")%2

1

In [50]:
x= "100"+100
print(x,type(x))

TypeError: can only concatenate str (not "int") to str

In [51]:
x= int("100")+100
print(x,type(x))

200 <class 'int'>

In [58]:
b ={
    
    "Delhi": ["Redfort", "QutubMinar", "LotusTemple"],
    "Agra": ["TajMahal"],
    "Jaipur": ["HawaMahal/JalMahal"],
    "Amritsar": ["GoldenTemple", "Jalliawalabagh"],
    "Madurai": ["Meenakshi Temple"],
    "Mysore": ["Mysore palace"],
    "Mumbai": ["Gateway of India"],
    "Sanchi": ["Sanchi Stupa"],
    "Hydrabad": ["Charminar"],
    "Gujarat": ["Statue of Unity"]
}


a = input("Name of City: ")  # delhi
if a in b:
    print("Monuments in" ,a, "are : " )
    m = b[a]
    print(m)

else:
    print("City not found :")

Name of City:  Delhi

Monuments in Delhi are :
['Redfort', 'QutubMinar', 'LotusTemple']

In [56]:
delhi=['redfort','qutubminar','lotustemple']
agra=['tajmahal']
jaipur=['hawamahal']
amritsar=['goldentemple','jaliyawalabaag']
madurai=['minakshitemple']
mysore=['misorepalace']
mumbai=['gateway of india']
sanchi=['sanchi stupa']
hydrabaad=['charminar']
gujrat=['statue of unity']

city_name=input()

if city_name=='delhi':    print(delhi)
elif city_name=='agra':    print(agra)
elif city_name=='jaipur':    print(jaipur)
elif city_name=='amritsar':    print(amritsar)
elif city_name=='madurai':    print(madurai)
elif city_name=='mysore':    print(mysore)
elif city_name=='delhi':    print(mumbai)
elif city_name=='mumbai':    print(sanchi)
elif city_name=='sanchi':    print(hydrabaad)
elif city_name=='gujrat':    print(gujrat)
else:    print('Please ReEnter City Name')

 dehli

Please ReEnter City Name