# 8. Loops in Python

## 1Ô∏è‚É£ What is a for loop in Python?
* A `for` loop is used to repeat a block of code for each item in a sequence.

## Real-Life Example:
Imagine checking attendance:

"for `each student` in the class, call thier name."

## 2Ô∏è‚É£ Baisc syntax of `for` loop

for variable in sequence:
    statement(s)

## Explanation:

|`Part`|Meaning|
|--|--|
|`for`| keyword that starts the loop|
|`variable`|stores one item at a time.|
|`in`|Connects varible to sequence|
|`sequence`|List, string, range, tuple, string, dictionary, sets|
|`:`|Indicates start of the loop body- Mark to end the code line|
|Indentation| Code inside loop|

## 3Ô∏è‚É£ First Example:

In [1]:
range(5)

range(0, 5)

In [2]:
range(-10)

range(0, -10)

In [3]:
range(5,10)

range(5, 10)

In [4]:
0,1,2,3,4,5,6,7,8,9,10

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(6,11):
    print(i)

6
7
8
9
10

In [7]:
for i in range(-10):
    print(i)

In [ ]:
0+1 = 1
1+1 = 2
2+1=3
3+1=4

In [9]:
for i in range(0,-10,-1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

## Explanation(line by line)

* `range(5)` -> Generates number 0 to 4
* `i` -> Stores each number one by one
* `print()` -> Prints current value of i

#### üìå Notes:
range(n) always starts from `0` and ends at `n-1`

### 4Ô∏è‚É£ Looping Through a List:

In [10]:
fruits = ['apple','Mango',"Star Fruit","Grapes","Watermelon","Muskmelon","strawberry","Banana","Chikoo","Coconut"]

for a in fruits:
    print(a)

apple
Mango
Star Fruit
Grapes
Watermelon
Muskmelon
strawberry
Banana
Chikoo
Coconut

In [12]:
len(fruits)

print(i) # 0
print(fruits[0]) # apple
print(i) # 1

10

In [16]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 Mango
2 Star Fruit
3 Grapes
4 Watermelon
5 Muskmelon
6 strawberry
7 Banana
8 Chikoo
9 Coconut

In [22]:
# fruits[0]
x = "apple"

for i in range(len(fruits[2])):
    print(i, fruits[2][i])

0 S
1 t
2 a
3 r
4
5 F
6 r
7 u
8 i
9 t

In [27]:
fruits = ['apple','Mango',"Star Fruit","Grapes","Watermelon","Muskmelon","strawberry","Banana","Chikoo","Coconut"]


# fruits[6]

for i in range(len(fruits[6])):
    print(i, fruits[6][i])

0 s
1 t
2 r
3 a
4 w
5 b
6 e
7 r
8 r
9 y

In [30]:
fruits = ['apple','Mango',"Star Fruit","Grapes","Watermelon","Muskmelon","strawberry","Banana","Chikoo","Coconut"]

count=0 # 3 # global scope

for i in fruits:
    count = count+1  # 2+1
    print(i)
print(count)

apple
Mango
Star Fruit
Grapes
Watermelon
Muskmelon
strawberry
Banana
Chikoo
Coconut
10

In [33]:
fruits[6]

count1 = 0
for j in fruits[6]:
    count1 +=1
    print(j)
print(count1)

s
t
r
a
w
b
e
r
r
y
10

In [41]:
count2=0
for i in range(len(fruits)):
    # print(i, fruits[i])
    if fruits[i].lower() == "mango":
        for j in fruits[i]:
            count2+=1
print(count2)

5

In [42]:
names = ["Ruchika","Vishal Surse","Yash Meshram","Kushal Jagtap","Anil Prajapati","Awadhesh Singh","Snehal bhand"
         ,"Nil Babre"]

In [45]:
names = ['ruchika','vishal surse','yash meshram','kushal jagtap','anil prajapati','awadhesh singh','snehal bhand','nil babre']



for i in range(len(names)):
    
    if names[i].lower() == 'anil prajapati':
        count = 0
        for j in names[i]:
            count += 1
            print(j)
        print(count)

a
n
i
l

p
r
a
j
a
p
a
t
i
14

In [49]:
names = ["ruchika", "vishal surse", "yash meshram", "kushal jagtap", "anil prajapati", "awadhesh singh", "snehal bhand", "nil babre"]
count = 0
for name in names:
    # if name == 'snehal bhand':
    #     # print(f"find:",name)
    if name == "snehal bhand":
        count=0
        for j in name:
            count+=1
            print(j)
        print(f"Total characters in your name:{name}={count}")

s
n
e
h
a
l

b
h
a
n
d
Total characters in your name:snehal bhand=12

In [53]:
names = ['ruchika', 'vishal surse', 'yash meshram', 'kushal jagtap',
         'anil prajapati', 'awadhesh singh', 'snehal bhand', 'nil babre']

count = 0

for i in range(len(names)):
    if names[i] == 'awadhesh singh':   # must compare lowercase
        for j in names[i]:
            count += 1
        

print(count)

14

In [62]:
names = ["Ruchika","Vishal Surse","Yash Meshram","Kushal Jagtap","Anil Prajapati","Awadesh Singh","Snehal bhand","Nil Babre"]
count1=0
# for j in names[2]:
#     count+=1
#     print(j)
# print(count1) 

for i in range(len(names)):
    if names[i].capitalize() == "Yash meshram":
        # print(names[i])
        count=0
        for i in names[i]:
            count+=1
            print(i)
        print(count)
    # print(i)

Y
a
s
h

M
e
s
h
r
a
m
12

In [69]:
names = ["Ruchika","Vishal Surse","Yash Meshram","Kushal Jagtap","Anil Prajapati","Awadhesh Singh","Snehal bhand"
         ,"Nil Babre"]

for i in range(len(names)): # outerloop
    
    # print(names[i])
    count = 0
    for j in names[i]: # inner loop
        count+=1
        # print(j)
        
    print(f'Total Characters in your name {names[i]}:{count}')

Total Characters in your name Ruchika:7
Total Characters in your name Vishal Surse:12
Total Characters in your name Yash Meshram:12
Total Characters in your name Kushal Jagtap:13
Total Characters in your name Anil Prajapati:14
Total Characters in your name Awadhesh Singh:14
Total Characters in your name Snehal bhand:12
Total Characters in your name Nil Babre:9