In [1]:
print("Hello world")

Hello world

In [2]:
print('Hello World')

Hello World

In [ ]:
int main(){
    char a;
    a = 'a'
    char a1 = "apple"
    printf("%c",a)
}

In [3]:
print("Hello world")

Hello world

In [4]:
print('Hello world ')

Hello world

In [5]:
# comment 
# This is comment

In [7]:
import sys

In [8]:
print(sys.version)

3.13.7 (tags/v3.13.7:bcee1c3, Aug 14 2025, 14:15:11) [MSC v.1944 64 bit (AMD64)]

In [10]:
print('what's your name )

what

In [11]:
print("what's your name")

what's your name

In [12]:
print('what"s your name')

what"s your name

In [26]:
# Data Types 

# string
print("Hello world")
print('Hello world')
print("100")
print('123.58')
print("!@##$%%")


# integer
print(100)
print(10000)
print(25000)


# float
print(100.0)
print(0.100)
print(25.50)


# Boolean
print(True)
print(False)

Hello world
Hello world
100
123.58
!@##$%%
100
10000
25000
100.0
0.1
25.5
True
False

In [39]:
# Data Types 

# string
print("Hello world")
print(type("Hello world"))
print('Hello world')
print(type('Hello world'))
print("100")
print(type("100"))

print('123.58')
print(type('123.58'))
print("!@##$%%")
print(type("!@##$%%"))



# integer
print(100)
print(type(100))
print(10000)
print(type(10000))
print(25000)
print(type(25000))


# float
print(100.0)
print(type(100.0))
print(0.100)
print(type(0.100))
print(25.50)
print(type(25.50))


# Boolean
print(True)
print(type(True))
print(False)
print(type(False))

Hello world
<class 'str'>
Hello world
<class 'str'>
100
<class 'str'>
123.58
<class 'str'>
!@##$%%
<class 'str'>
100
<class 'int'>
10000
<class 'int'>
25000
<class 'int'>
100.0
<class 'float'>
0.1
<class 'float'>
25.5
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [43]:
# variable 

a1 = 100;   # value assignment 
print(a1)

100

In [52]:
# Data typecasting 

val = 100  # string, float
print(val)
print(type(val))

strVal = str(val)
print(strVal,type(strVal))


floatVal = float(val)
print(floatVal,type(floatVal))

100
<class 'int'>
100 <class 'str'>
100.0 <class 'float'>

In [56]:
bool1 = True  # string, integer, float
print("Original Value:",bool1)

print("Original Value type:",type(bool1))


bool2 = False   # string, integer, float
print("Original Value:",bool2)
print("Original Value type:",type(bool2))

Original Value: True
Original Value type: <class 'bool'>
Original Value: False
Original Value type: <class 'bool'>

In [59]:
# variable and expression


x = 100-25-(98+98)*(97/5)
print(x)

-3727.3999999999996

In [60]:
# substrction

x = 100
y = 98.75
z = x-y
print(z)

1.25

In [61]:
# mutliplication



x = 100
y = 98.75
z = x*y
print(z)

9875.0

In [65]:
# Division

x = 3
y = 2
z = x/y
print(z)

1.5

In [66]:
# floor division

x = 3
y = 2
z = x//y
print(z)

1

In [67]:
# Modulus  %

x = 3
y = 2
z = x%y
print(z)

1

In [68]:
x = 2
y = 2
z = x%y
print(z)

0

In [69]:
# exponent Value

x = 3
y = 2
z = x**y
print(z)

9

In [70]:
x = 3
y = 2
z = y**x  # 2^3- 2x2x2 = 8
print(z)

8